API_KEY=
API_SECRET=
BNDES_API_BASE_URL=https://apis-gateway.bndes.gov.br/pme/1.4
BNDES_TOKEN_URL=https://apis-gateway.bndes.gov.br/token
BNDES_ENABLE_REAL_POST=false
BNDES_USE_MOCK_ON_FAILURE=true
BNDES_TOKEN_REFRESH_RATE_MS=3600000
FRONTEND_API_URL=http://localhost:8080/api
